@import '../base.blocks/theme.layer/theme.scss';
@import '../base.blocks/layout.layer/layout.scss';
@import '../base.blocks/patterns.layer/image.scss';
@import '../base.blocks/patterns.layer/clearfix.scss';
@import '../base.blocks/layout.layer/grid.scss';

.advantages {
    @extend %theme;
    @extend %theme_color_default;
    @extend %theme_space_default;
    @include layout__container;
    @include layout__container_space-h_m;
    @include layout__container_space-v_xl;
    @include clearfix;
}

.advantages__title {
    @include theme_font_xxl;
    float: left;
    clear: both;
    color: var(--text-secondary);
    margin-bottom: var(--indent-m);
}

.advantages__item {
    float: left;
    clear: both;
    margin-top: var(--indent-m);
}

.advantages__image {
    @include image;
    background: var(--bgr-accent);
    width: 60px;
    height: 60px;
    text-align: center;
    float: left;
    margin-right: var(--indent-m);
}

.advantages__image>img {
    @include image__content_align_center;
}

.advantages__text {
    @include theme_font_s;
}

@mixin advantages__background {
    @include theme_font_xxl;
    color: rgba(0, 0, 0, 0.1);
    font-size: 160pt;
    line-height: 1em;
    position: absolute;
    right: 0;
}

@media (min-width: 700px) {
    .advantages__list {
        @include grid__container_columns_2;
        float: left;
        row-gap: var(--indent-xxxxxl);
    }

    .advantages__item {
        width: 70%;
        position: relative;
    }

    .advantages__item:nth-child(1):before {
        @include advantages__background;
        content: "1";
    }

    .advantages__item:nth-child(2)::before {
        @include advantages__background;
        content: "2";
    }

    .advantages__item:nth-child(3)::before {
        @include advantages__background;
        content: "3";
    }

    .advantages__item:nth-child(4)::before {
        @include advantages__background;
        content: "4";
    }

    .advantages__image {
        margin-bottom: var(--indent-xxl);
    }

    .advantages__text {
        float: left;
    }

    .advantages__text {
        line-height: 1.8em;
    }
}

@media (min-width: 1200px) {
    .advantages {
        @include layout__container_space-h_xxxxxl;
    }

    .advantages__list {
        @include grid__container_columns_4;
    }

    .advantages__item {
        width: 90%;
    }
}