@import '../base.blocks/theme.layer/theme.scss';
@import '../base.blocks/layout.layer/layout.scss';
@import '../base.blocks/patterns.layer/image.scss';

.invite {
    @extend %theme;
    @extend %theme_color_default;
    @extend %theme_space_default;
    padding-top: var(--indent-xs);
}

.invite__content {
    display: flex;
    gap: var(--indent-m);
    margin: var(--indent-m);
}

.invite__text {
    @include theme_font_l;
    flex: 1;
    color: var(--text-secondary);
}

.invite__address {
    @include theme_font_s;
    flex: 1;
}

.invite__map {
    @include image;
    background: url('./images/map.png') no-repeat;
    background-size:cover;
    height: 500px;
}

.invite__pin {
    @include image__content_align_center;
}

@media (min-width: 700px) {
    .invite__content {
        display: flex;
        justify-content: space-between;
        gap: 200px;
        padding: var(--indent-m);
    }

    .invite__map {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .invite {
        position: relative;
        padding: 0;
    }

    .invite__content {
        position: absolute;
        z-index: 1;
        background-color: var(--bgr-default);
        width: 40%;
        padding: var(--indent-xxxxl);
        top: 33%;
    }

    .invite__map {
        height: 500px;
    }

    .invite__pin {
        left: 50%;
    }
}