@import '../base.blocks/theme.layer/theme.scss';
@import '../base.blocks/layout.layer/layout.scss';
@import '../base.blocks/patterns.layer/image.scss';

.invite {
    @extend %theme;
    @extend %theme_color_default;
    @extend %theme_space_default;
}

.invite__content {
    display: flex;
    gap: var(--indent-m);
    margin: var(--indent-xl) var(--indent-m);
}

.invite__text {
    @include theme_font_l;
    flex: 1;
    color: var(--text-secondary);
}

.invite__address {
    @include theme_font_s;
    flex: 1;
}

.invite__map {
    @include image;
    background: url('./images/map.png') no-repeat;
    background-size:cover;
    height: 500px;
}

.invite__pin {
    @include image__content_align_center;
}