@import '../base.blocks/theme.layer/theme.scss';
@import '../base.blocks/layout.layer/layout.scss';
@import '../base.blocks/patterns.layer/button.scss';
@import '../base.blocks/layout.layer/grid.scss';

.products {
    @extend %theme;
    @extend %theme_color_default;
    @extend %theme_space_default;

    &__item {
        @include layout__container;
        @include layout__container_space-h_m;
        @include layout__container_space-v_m;
        border-top: 1px solid var(--bgr-border);

        &_type {
            &_product {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "product-image product-title"
                    "product-image product-quality"
                    "product-link product-link";
            }

            &_more {
                @include layout__container;
                text-align: center;
                border-bottom: 1px solid var(--bgr-border);
            }
        }
    }

    &__image {
        grid-area: product-image;
    }

    &__title {
        @include theme_font_l;
        color: var(--text-secondary);
        grid-area: product-title;
    }

    &___qualities {
        grid-area: product-quality;
    }

    &__quality {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        &_color {
            &_accent {
                @extend %theme_color_accent;
                @include button;
                grid-area: product-link;
            }

            &_gray {
                @extend %theme_color_dark;
                @include button;
                width: 100%;
                margin-top: var(--indent-xs);
            }
        }
    }

    &__icon {
        margin: var(--indent-m) 0;
    }

    &__text_size {
        &_s {
            @include theme_font_xs;
        }

        &_m {
            @include theme_font_s;
        }
    }
}

@media (min-width: 768px) {
    .products {
        &__list {
            @include grid__container_columns_2;
            column-gap: var(--indent-xxxxl);
            row-gap: var(--indent-xxxxxl);
        }

        &__item {
            @include layout__container;
            @include layout__container_space-h_xxl;
            @include layout__container_space-v_xl;
            border: 0;
            width: 200px;
            margin: 0 auto;

            &_type {
                &_product {
                    @include theme;
                    @include theme_color_dark;
                    text-align: center;
                }

                &_more {
                    border: 1px solid var(--bgr-border);
                }
            }
        }

        &__content {
            margin-top: var(--indent-xxxxxl);
        }

        &__title {
            text-align: center;
            margin-top: var(--indent-xs);
        }

        &__qualities {
            margin-bottom: var(--indent-xxl);
        }

        &__quality {
            border-bottom: 1px solid var(--bgr-border);
            padding: var(--indent-xs);
        }

        &__text {
            margin-top: var(--indent-xs);
        }

        &__button {
            &_color {    
                &_gray {
                    margin-top: var(--indent-xxxxxl);
                }
            }
        }
    
    }
}

@media (min-width: 1200px) {
    .products {
        &__list {
            @include grid__container_columns_4;
        }

        &__item {
            width: 150px;
        }
    }
}