@import '../base.blocks/patterns.layer/button.scss';
@import '../base.blocks/layout.layer/layout.scss';

.promo {
    @extend %theme;
    @extend %theme_color_accent;
    @include layout__container;
    @include layout__container_space-h_m;

    &_type_top {
        background: url("index-background-mobile.png") no-repeat;
        background-size: 100%;
    }

    &_type_gift {
        background: url("gift-photo-mobile@1x.png") no-repeat;
        background-size: 100%;
    }
}

.promo__foreground {
    @include layout__container;
    @include layout__container_align_center;
    @include layout__container_space-v_xl;
    @include layout__container_indent-h_m;
}

.promo__title {
    @include theme_font_xxl;
    margin-bottom: var(--indent-s);
}

.promo__text {
    @include theme_font_l;
}

.promo__image {
    padding-top: var(--indent-xl);
    width: 100%;
}

.promo__button {
    @include button;
}

.promo__gift {
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--indent-xxl);
}