@import '../base.blocks/patterns.layer/button.scss';
@import '../base.blocks/layout.layer/layout.scss';

.promo {
    @extend %theme;
    @extend %theme_color_accent;

    &_type_top {
        background: url("images/index-background-mobile.png") no-repeat, rgb(105, 174, 60);
        height: 300px;
        background-size: 50%;
        background-position: 50% 50%;
        margin-bottom: 200px;
    }

    &_type_gift {
        background: url("images/gift-photo-mobile@1x.png") no-repeat;
        background-size: 100%;
        background-position: 0 65%;
        flex: 1;
    }
}

.promo__foreground {
    @include layout__container;
    @include layout__container_align_center;
    width: 300px;
}

.promo__title {
    @include theme_font_xxl;
    padding-top: var(--indent-xxl);
    margin-bottom: var(--indent-s);
}

.promo__text {
    @include theme_font_l;
}

.promo__image {
    width: 300px;
    padding-top: var(--indent-xl);
}

.promo__button {
    @include button;
    width: 100%;
}

.promo__foreground_type_gift {
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--indent-xxl);
}

@media (min-width: 700px) {
    .promo_type_top {
        @include theme_color_default;
        background: url('images/index-can-mobile.png') no-repeat;
        background-size: 70%;
        background-position: 70% 100%;
        color: var(--text-secondary);
        margin-bottom: 0;
        height: 650px;
    }

    .promo__foreground {
        text-align: left;
        width: 400px;
        margin: 0;
        margin-left: 15%
    }

    .promo__title {
        font-size: 36pt;
    }

    .promo__text {
        font-size: 14pt;
        margin-top: var(--indent-xl);
    }

    .promo__image {
        display: none;
    }

    .promo__button {
        @include theme_color_accent;
        font-size: 14pt;
        width: auto;
        margin-top: var(--indent-xxl);
        padding-left: var(--indent-m);
        padding-right: var(--indent-m);
    }
}

@media (min-width: 1200px) {
    .promo_type_top {
        @include theme_color_default;
        background: url('images/index-can-mobile.png') no-repeat;
        background-size: 40%;
        background-position: 65% 30%;
        color: var(--text-secondary);
        margin-bottom: 0;
        height: 600px;
    }

    .promo_type_top::after {
        display: block;
        content: "";
        width: 50%;
        height: 600px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background: url("images/index-background-mobile.png") no-repeat, rgb(105, 174, 60);
        background-position: 200% 0;
    }

    .promo__foreground {
        margin-left: 5%;
        padding-top: var(--indent-xxxxxl);
    }

    .promo_type_gift {
        width: auto;
    }

    .promo__foreground_type_gift {
        height: 100%;
    }
}