@mixin grid__container_columns_1 {
    display: grid;
    grid-template-columns: 1fr;
}

@mixin grid__container_columns_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--indent-m);
}

@mixin grid__container_columns_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--indent-m);
}