@import '../theme.layer/theme.scss';

/* Выравнивание контейнера по горизонтали */
@mixin layout__container {
    @extend %theme_space_default;
    display: block;
}

@mixin layout__container_align_center {
    margin: 0 auto;
    text-align: center;
}

/* Внутренние отступы по вертикали */
@mixin layout__container_space-v_xl {
    padding-top: var(--indent-xl);
    padding-bottom: var(--indent-xl);
}

@mixin layout__container_space-v_m {
    padding-top: var(--indent-m);
    padding-bottom: var(--indent-m);
}

@mixin layout__container_space-v_s {
    padding-top: var(--indent-s);
    padding-bottom: var(--indent-s);
}

/* Внутренние отступы по горизонтали */
@mixin layout__container_space-h_m {
    padding-left: var(--indent-m);
    padding-right: var(--indent-m);
}

/* Внешние отступы по горизонтали */
@mixin layout__container_indent-h_m {
    margin-left: var(--indent-m);
    margin-right: var(--indent-m);
}

/* Внешний отступ снизу */
.layout__container_indent-b_xxl {
    margin-bottom: var(--indent-xxl);
}

.layout__container_indent-b_xxxxl {
    margin-bottom: var(--indent-xxxxl);
}