@import '../theme.layer/theme.scss';

/* Выравнивание контейнера по горизонтали */
@mixin layout__container {
    @extend %theme_space_default;
    display: block;
}

@mixin layout__container_align_center {
    margin: 0 auto;
    text-align: center;
}

/* Внутренние отступы по вертикали */

@mixin layout__container_space-v_xxxxl {
    padding-top: var(--indent-xxxxl);
    padding-bottom: var(--indent-xxxxl);
}

@mixin layout__container_space-v_xl {
    padding-top: var(--indent-xl);
    padding-bottom: var(--indent-xl);
}

@mixin layout__container_space-v_l {
    padding-top: var(--indent-l);
    padding-bottom: var(--indent-l);
}

@mixin layout__container_space-v_m {
    padding-top: var(--indent-m);
    padding-bottom: var(--indent-m);
}

@mixin layout__container_space-v_s {
    padding-top: var(--indent-s);
    padding-bottom: var(--indent-s);
}

@mixin layout__container_space-v_xs {
    padding-top: var(--indent-xs);
    padding-bottom: var(--indent-xs);
}

/* Внутренние отступы по горизонтали */
@mixin layout__container_space-h_m {
    padding-left: var(--indent-m);
    padding-right: var(--indent-m);
}

@mixin layout__container_space-h_xxxxxl {
    padding-left: var(--indent-xxxxxl);
    padding-right: var(--indent-xxxxxl);
}

/* Внешние отступы по горизонтали */
@mixin layout__container_indent-h_m {
    margin-left: var(--indent-m);
    margin-right: var(--indent-m);
}

/* Внешний отступ сверху */
@mixin layout__container_indent-t_xxl {
    margin-top: var(--indent-xxl);
}

@mixin layout__container_indent-t_xxxxl {
    margin-top: var(--indent-xxxxl);
}